.cp{
    text-align: center;
    margin-bottom: 0px;
    font-family: 'Poppins', sans-serif;
}
.footer{
    text-align: left;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    border-top: 4px solid #ffc107;
    font-size: 15px;
}