.jumbotron{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    background-image: url("https://images.pexels.com/photos/1068523/pexels-photo-1068523.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%; 
    background-repeat: no-repeat;
    color: white;
    opacity: 0.9;
    color: white  
}
.my-4{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}