
.navbar {
  margin-bottom: 30px;
  font-family: 'Fredoka One', cursive;
  border-bottom: 4px solid #ffc107;

}

.logo {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

.orgNavigationA {
  color: black;
}

.orgNavigationA:hover {
  text-decoration: none;
  color: white;
}

.orgNavigationAHome{
  color: black
}

.orgNavigationAHome:hover{
  text-decoration: none;
  color: gray;
}

#orglanding {
  font-size: 18px;
}

#orghome {
  margin-right: 10px;
  background: #99b83c;
}

#myaccount{
  margin-right: 10px;
  background: #4a8ef9;
}

.orgsignoutbtn {
  margin-right: 10px;

}


