.parallax {
    background: lightgray;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h2{
    font-family: 'Raleway:900', sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: white;
    padding-top: 100px;
  }
  
  h5{
    color: white;;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    padding-bottom: 60px;
  }

  .postOppButton{
      width: 200px;
      color: white;
    padding: 7px 7px;
     font-size: 18px;
    box-shadow: 0 4px 2px -2px gray;
    background: #99b83c;
     font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .form-group{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  select{
      max-width: 300px;;
  }

  form{
      margin-bottom: 20px;
  }