.parallax {
    background: white;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .signUpForm{
      padding-bottom: 100px;
  }

  .signUpVolInput{
    min-width: 400px;
    margin-bottom: 20px;
    height: 50px;
  }

  .signUpButtonVol{
    color: white;
    padding: 7px 7px;
    font-size: 18px;
    box-shadow: 0 4px 2px -2px gray;
    background: #99b83c;
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 100px;
  }

  .signUph2{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: Gray;
    padding-top: 100px;
    margin-left: 10px;
    margin-right: 20px;
  }

  .signUph5{
    color: #99b83c;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    padding-bottom: 40px;
    margin-left: 10px;
  }